In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 파이썬의 boolean 
True
False

In [2]:
# 1. True를 출력해 보세요.
True

True

In [3]:
False == 0

True

# String 과 List

In [5]:
"Hello World"

'Hello World'

## 1) string

In [9]:
til = 'today i learned'
til.upper()

# 탭 키를 통해 메소드를 찾을 수 있다.
# lower(), upper()

'TODAY I LEARNED'

## 2) list

In [11]:
# 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다.
lang = []
lang
# 결과 : []


# python, java, c를 원소에 추가합니다.
lang.append("python")
lang.append("java")
lang.append("c")
lang
# 결과 : ['python', 'java', 'c']

['python', 'java', 'c']

In [12]:
lang[0]

'python'

In [13]:
lang[-1]

'c'

In [14]:
lang[1]

'java'

In [24]:
# 반복문을 통해 리스트의 원소를 하나씩 출력합니다.
for i in lang:
    print(i)

python
java
c

In [29]:
# 위 코드에서 python일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다.
# 출력 결과가 아래의 순서로 나오도록 합니다.
# python
# 기타
# 기타
for i in lang:
    if i == "python":
        print("python")
    else:
        print("기타")

python
기타
기타

In [30]:
# 특정 횟수만큼 반복문을 실행하도록 합니다.
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
# for문과 if문을 함께 사용해 봅니다.
# 짝수일 때 python을 홀수일 때 java를 출력합니다.
for i in range(1, 10):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

java
python
java
python
java
python
java
python
java

In [22]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

# 문자열

In [35]:
# 주소를 address 변수에 담습니다.
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "
address
# 결과 : ' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 "

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층 '

In [36]:
# 앞뒤 공백을 제거합니다.
# 데이터 전처리 시 주로 사용합니다.
address = address.strip()
address
# 결과 : '경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [37]:
# 문자열의 길이
len(address)

33

In [39]:
# 문자열 분리
address_list = address.split()
address_list
# 결과 : ['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [43]:
# 리스트 길이
len(address_list)

8

In [46]:
# 슬라이싱으로 문자 가져오기 (앞에서 몇개의 문자열을 가져옴)
address[:2]

'경기'

In [47]:
# startswith를 사용하면 특정 문자가 포함되는지 여부를 확인할 수 있습니다. (시작하는지)
address.startswith("경기")

True

In [49]:
# in을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
"경기" in address

True

## 리스트에서도 문자열의 메소드와 비슷하게 사용할 수 있다.

In [51]:
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [52]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu라는 변수에 담아보세요.
gu = address_list[2]
gu
# 결과 : '분당구'

'분당구'

In [53]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 도로명을 가져와 street라는 변수에 담아보세요
street = address_list[3]
street
# 결과 : '불정로'

'불정로'

In [54]:
# 리스트의 마지막을 가져옵니다.
address_list[-1]
# 결과 : '16층'

'16층'

In [55]:
# "  ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
" ".join(address_list)
# 결과 : '경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [56]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 리스트에 포함되는지를 봅니다.
"경기" in address_list
# 결과 : False --> "경기도" 처럼 완전하게 적어야 True가 나옵니다.

False

In [57]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "분당구"가 리스트에 포함되는지를 봅니다.
"분당구" in address_list
# 결과 : True

True